.menuitem-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center
}

.menuitem {
    display: flex;
    flex-direction: row;
    flex: 1;

    width: 100%;
    min-height: 8rem;

    margin: 0 auto;

    background-color: #ffffff;

    border-bottom: 1px #F2F2F2 solid;

    &--active {
        background-color: #efdbc4;
    }

    .emoji {
        min-width: 130px;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 1rem 1rem 1rem 0;
        text-align: left;
        

        .weekday {
            margin-bottom: 5px;
            font-size: 16px;
        }

        .description {
            font-size: 28px;

            p {
                font-family: "Aften Screen Bold";
            }
        }
    }

}