.marquee {
    display: flex;
    height: 40px;

    position: relative;
    
    overflow: hidden;
    width: 200%;

    background-color: #000000;
    color: #ffffff;

    // animation: marquee 5s linear infinite;

    &> span {
        font-size: 30px;
        float: left;
        width: 25%;
    }
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}