.marquee {
    display: block;
    height: 40px;

    position: absolute;
    overflow: hidden;
    width: 200%;


    animation: marquee 5s linear infinite;

    &> p {
        float: left;
        width: 50%;
    }
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}